In [1]:
import pandas as pd

bus = pd.read_csv('bus_bts.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [2]:
con_1 = train['18~20_ride'] >= 250
con_2 = (train['18~20_ride'] >= 220) & (train['18~20_ride'] < 250)
con_3 = (train['18~20_ride'] >= 190) & (train['18~20_ride'] < 220)
con_4 = (train['18~20_ride'] >= 160) & (train['18~20_ride'] < 190)
con_5 = (train['18~20_ride'] >= 130) & (train['18~20_ride'] < 160)
con_6 = (train['18~20_ride'] >= 100) & (train['18~20_ride'] < 130)
con_7 = (train['18~20_ride'] >= 70) & (train['18~20_ride'] < 100)
con_8 = (train['18~20_ride'] >= 40) & (train['18~20_ride'] < 70)
con_9 = (train['18~20_ride'] >= 10) & (train['18~20_ride'] < 40)
con_10 = train['18~20_ride'] < 10

train.loc[con_1 ,'class'] = 1
train.loc[con_2 ,'class'] = 2
train.loc[con_3 ,'class'] = 3
train.loc[con_4 ,'class'] = 4
train.loc[con_5 ,'class'] = 5
train.loc[con_6 ,'class'] = 6
train.loc[con_7 ,'class'] = 7
train.loc[con_8 ,'class'] = 8
train.loc[con_9 ,'class'] = 9
train.loc[con_10 ,'class'] = 10
train.loc[train['class'].isnull(),'class'] = 0

In [3]:
train.loc[train['class'] == 10, 'class10'] = 1
train.loc[train['class'] != 10, 'class10'] = 0
train.loc[train['class'] == 9, 'class9'] = 1
train.loc[train['class'] != 9, 'class9'] = 0
train.loc[train['class'] == 8, 'class8'] = 1
train.loc[train['class'] != 8, 'class8'] = 0
train.loc[train['class'] == 7, 'class7'] = 1
train.loc[train['class'] != 7, 'class7'] = 0
train.loc[train['class'] == 6, 'class6'] = 1
train.loc[train['class'] != 6, 'class6'] = 0
train.loc[train['class'] == 5, 'class5'] = 1
train.loc[train['class'] != 5, 'class5'] = 0
train.loc[train['class'] == 4, 'class4'] = 1
train.loc[train['class'] != 4, 'class4'] = 0
train.loc[train['class'] == 3, 'class3'] = 1
train.loc[train['class'] != 3, 'class3'] = 0
train.loc[train['class'] == 2, 'class2'] = 1
train.loc[train['class'] != 2, 'class2'] = 0
train.loc[train['class'] == 1, 'class1'] = 1
train.loc[train['class'] != 1, 'class1'] = 0

In [4]:
df4 = train[['bus_route_id','station_code','class10','class9','class8','class7','class6','class5',
             'class4','class3','class2','class1']]
df4.head()

,bus_route_id,station_code,class10,class9,class8,class7,class6,class5,class4,class3,class2,class1
0,4270000,344,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4270000,357,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4270000,432,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4270000,1579,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4270000,1646,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df4['another_id'] = df4['bus_route_id'] + df4['station_code']
train['another_id'] = train['bus_route_id'] + train['station_code']

C:\Users\wook9\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
df4.drop_duplicates(['bus_route_id', 'station_code','another_id'], keep='first', inplace = True)

C:\Users\wook9\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
test = pd.merge(test, df4, on = ['bus_route_id','station_code'], how = 'left')
test.shape

(228170, 31)

In [8]:
test.loc[test['class4'].isnull(),'class10'] = 0
test.loc[test['class4'].isnull(),'class9'] = 0
test.loc[test['class4'].isnull(),'class8'] = 0
test.loc[test['class4'].isnull(),'class7'] = 0
test.loc[test['class4'].isnull(),'class6'] = 0
test.loc[test['class4'].isnull(),'class5'] = 0
test.loc[test['class4'].isnull(),'class4'] = 0
test.loc[test['class3'].isnull(),'class3'] = 0
test.loc[test['class2'].isnull(),'class2'] = 0
test.loc[test['class1'].isnull(),'class1'] = 0

In [9]:
test.head()

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,class9,class8,class7,class6,class5,class4,class3,class2,class1,another_id
0,415423,2019-10-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,4.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4270344.0
1,415424,2019-10-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4270357.0
2,415425,2019-10-01,4270000,시외,432,정존마을,33.48181,126.47352,2.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4270432.0
3,415426,2019-10-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,1.0,11.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4271579.0
4,415427,2019-10-01,4270000,시내,1636,롯데호텔,33.24872,126.41032,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4271636.0

In [10]:
test.loc[test['another_id'].isnull(),'another_id'] = test['bus_route_id'] + test['station_code']

In [11]:
test.isnull().any()

id               False
date             False
bus_route_id     False
in_out           False
station_code     False
station_name     False
latitude         False
longitude        False
6~7_ride         False
7~8_ride         False
8~9_ride         False
9~10_ride        False
10~11_ride       False
11~12_ride       False
6~7_takeoff      False
7~8_takeoff      False
8~9_takeoff      False
9~10_takeoff     False
10~11_takeoff    False
11~12_takeoff    False
class10          False
class9           False
class8           False
class7           False
class6           False
class5           False
class4           False
class3           False
class2           False
class1           False
another_id       False
dtype: bool

In [12]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib as mpl
#월용일 = 0 / 일요일 = 6
train['date'] = pd.to_datetime(train['date'])
train['weekday'] = train['date'].dt.weekday
train = pd.get_dummies(train,columns=['weekday'])
test['date'] = pd.to_datetime(test['date'])
test['weekday'] = test['date'].dt.weekday
test = pd.get_dummies(test,columns=['weekday'])

In [13]:
train = train [['bus_route_id', 'station_code', '7~8_ride', '8~9_ride', '9~10_ride', '10~11_ride', '11~12_ride', 
                'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3','weekday_4', 'weekday_5', 'weekday_6', '18~20_ride',
                'class10','class9','class8','class7','class6','class5','class4','class3','class2','class1']]

test = test [['id', 'bus_route_id', 'station_code', '7~8_ride', '8~9_ride', '9~10_ride', '10~11_ride', '11~12_ride', 
                'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3','weekday_4', 'weekday_5', 'weekday_6',
                  'class10','class9','class8','class7','class6','class5','class4','class3','class2','class1']]

In [14]:
input_var = ['bus_route_id', 'station_code', '7~8_ride', '8~9_ride', '9~10_ride', '10~11_ride', '11~12_ride', 
            'weekday_0', 'weekday_1', 'weekday_2', 'weekday_3','weekday_4', 'weekday_5', 'weekday_6',
                'class10','class9','class8','class7','class6','class5','class4','class3','class2','class1']
target=['18~20_ride']

In [15]:
X_train=train[input_var]
y_train=train[target]

X_test=test[input_var]

In [16]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(random_state=1217)

In [17]:
rf.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=1217,
           verbose=0, warm_start=False)

In [18]:
test['18~20_ride'] = rf.predict(X_test)
test[['id','18~20_ride']].to_csv("dacon_base_line16.csv",index=False)